<tr>
  <td><%= list.name %></td>
  <td>
    <%= link_to 'Show', list_url(list), class: 'button button-success btn-sm' %>
    <%= link_to 'Edit', edit_list_url(list), class: 'button button-success btn-sm' %>
  </td>
</tr>
