<h1><%= @list.name %></h1>
<table class='table table-striped table-hover'>
  <tbody>
    <%= render @list.items %> 
  </tbody>
</table>

<%= link_to 'New Item', new_list_item_url(list_id: @list.id) %>